    .art-gallery-container {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(12, 8.33%);
        grid-template-rows: repeat(12, 8.33%);
        grid-row: 1 / 4;
        max-width: 100%;
        max-height: 800px
    }
    
    .art-gallery-left {
        width: 100%;
        height: 100%;
        background-color: var(--black-color);
        grid-column: 1 /5;
        grid-row: 1 / -1;
        color: white;
        height: 100%;
    }
    
    .art-gallery-img-div {
        max-width: 540px;
        height: 100%;
        grid-column: 5/9;
        grid-row: 1 / -1;
    }
    
    .art-gallery-img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .heading {
        display: flex;
        justify-self: center;
        align-self: flex-start;
        z-index: 1;
        grid-column: 2 / 7;
        overflow: hidden;
        grid-row: 3 /5;
        align-items: center;
        font-family: 'Big Shoulders Display';
        font-size: clamp(5.0rem, 2vw + 1rem, 96px);
        font-weight: 900;
        color: var(--white-color);
        line-height: 88px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        mix-blend-mode: difference;
    }
    
    .heading h1 {
        grid-column: 2/7;
    }
    
    .art-gallery-text {
        display: flex;
        grid-column: 8 / 11;
        grid-row: 2 / 4;
        font-family: 'Outfit';
        font-size: clamp(1.0rem, 1.2vw + 0.3rem, 22px);
        font-weight: 300;
        line-height: 28px;
        color: var(--grey-color);
        justify-self: center;
        width: 260px;
        margin: 0 20px 0 0;
    }
    
    .location {
        display: flex;
        max-width: 260px;
        height: 72px;
        grid-row: 9/10;
        grid-column: 8/ 11;
        align-self: flex-end;
        justify-self: center;
        letter-spacing: 3.64px;
        margin-right: 20px;
    }
    
    .art-gallery-location {
        display: flex;
        width: 204px;
        height: 100%;
        background-color: var(--black-color);
        color: white;
        font-size: 20px;
        font-family: 'Big Shoulders Display';
        font-weight: 800;
        line-height: 23.94px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    /* .art-gallery-location:hover {
background-color: var(--orange-color);
color: white;
cursor: pointer;
} */
    
    .arrow {
        width: 56px;
        height: 72px;
        background-color: var(--orange-color);
        cursor: pointer;
    }
    
    .arrow:hover {
        background-color: var(--black-color);
    }
    
    @media (max-width:800px) {
        .art-gallery-left {
            display: none;
            max-height: 700px;
        }
        .art-gallery-left {
            height: 100%;
        }
        .art-gallery-img-div {
            grid-column: 1/6;
            height: 100%;
        }
        .heading {
            grid-column: 5/11;
            grid-row: 3/4;
            color: var(--black-color);
            text-shadow: none;
            mix-blend-mode: normal;
            font-size: clamp(3.0rem, 2vw + 1rem, 70px);
            line-height: 50px;
        }
        .art-gallery-text {
            grid-row: 6/7;
            grid-column: 5/11;
            align-self: flex-start;
            font-size: clamp(0.5.0rem, 2vw + 0.5rem, 18px);
            margin-left: 3rem;
        }
        .location {
            align-self: start;
            grid-column: 7/9;
            margin-right: 0px;
            margin-left: 2.0rem;
        }
    }
    
    @media (max-width:400px) {
        .art-gallery-container {
            max-height: 630px;
        }
        .art-gallery-img-div {
            width: 100%;
            grid-column: 1/-1;
            grid-row: 1/3;
            min-height: 240px;
        }
        .heading {
            margin-top: 3rem;
            grid-column: 2/-1;
            grid-row: 5/6;
            font-size: clamp(3.0rem, 2vw + 0.8rem, 60px);
            justify-self: flex-start;
            line-height: 60px;
            margin-left: 0px;
            margin-right: 0px;
        }
        .art-gallery-text {
            margin-top: 5.5rem;
            grid-column: 2/-2;
            grid-row: 8/10;
            width: 100%;
            align-self: center;
            margin-left: 1.5rem;
            margin-bottom: 1.5rem;
        }
        .location {
            align-self: flex-end;
            grid-row-start: -1;
            grid-column-start: 2;
            margin-right: 0px;
            margin-left: 3rem;
        }
        .art-gallery-img {
            object-fit: cover;
        }
    }