@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600;700;800;900&family=Outfit:wght@100&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Big Shoulders Display', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Big Shoulders Display';
}

:root {
    --black-color: #151515;
    --orange-color: #d5966c;
    --grey-color: #444444;
    --white-color: #ffffff;
}